# Wine Classification pipeline

In [1]:
import pandas as pd
from wine_predict import data_loader as dl
from wine_predict.preprocessing.base import BasePreprocessor
import numpy as np

In [3]:
#load the data

X, y = dl.load_wine_data()

print(f"Features shape: {X.shape}")
print(f"Target shape: {y.shape}")
print(f"\nFeature columns:")
print(list(X.columns))

X.head()

Loaded 1143 samples with 11 features

Class distribution:
  poor      :   39 samples (  3.4%)
  average   :  945 samples ( 82.7%)
  good      :  159 samples ( 13.9%)
Features shape: (1143, 11)
Target shape: (1143,)

Feature columns:
['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar', 'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density', 'pH', 'sulphates', 'alcohol']

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

file is imbalanced in terms of quality, majority of wines are average, v few are bad